.header nav{
      box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 0;
    height: 40px;
}

.navbar-brand{
    text-align: center;
    width: 87.8261px;
    height: 50px;
    font-weight: 900;
    font-style: bold;
    color: #b92b27;
}
.navbar-brand:hover{
    text-align: center;
    width: 87.8261px;
    height: 50px;
    font-weight: 900;
    font-style: bold;
    color: #d86764;
}


.nav-item,.navbar-brand{
    margin:5px 30px 5px 30px;
}

.nav-item:hover{
    color: #d86764;

}
